@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: lightblue;
    font-family: 'Open Sans', sans-serif;
}

input {
    background-color: lightgray;
    margin-top: 20px;
}
